# This is Git's per-user configuration file.
[user]
	name = Zhe Zhang
	email = zhezhang@thoughtworks.com
[core]
	editor = emacs -q
	excludesfile = /Users/zhezhang/.gitignore
	hooksPath = /Users/zhezhang/.git/hooks
[http]
	sslVerify = false
[init]
	defaultBranch = master
[gpg]
	program = gpg
